.company-table {
  width: 60% !important;
  margin-left: 20%;
  margin-top: 2%;
  border: 1px solid #dee2e6;
}

.company-head {
  text-align: center;
  margin-top: 20px;
}

.company-table th, .company-table td {
  border: 1px solid #dee2e6;
  text-align: center;
}
