<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Health Care</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="display: none">
        <a class="nav-link" href="#">Patients <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="nav navbar-nav float-md-right">
      <li class="nav-item welcome-username">
        <span> Hello, <a class="nav-link" href="#"><%= current_user.email %></a> <span>
      </li>
      <% if Role.find(current_user.role_id).name == 'User' %>
      <li class="nav-item welcome-username">
        <input type="date" class="navbar-date"/>
        <span><b>Last Submitted: </b><%= current_user.company.updated_at %><span>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: 'btn btn-sm btn-warning' %>
      </li>
    </ul>
  </div>
</nav>

<script>
$(".navbar-date").change(function () {
  var sDate = $('.navbar-date').val();
  $.ajax({
    type: "GET",
    url: "patients/get_date", // the method we are calling
    data: { selected_date: sDate },
    success: function (result) {
        console.log('Yay! It worked!');
    },
    error: function (result) {
        console.log('Oh no :(');
    }
  });
});
</script>
